# Intellij
.idea/
*.iml
*.iws

#test data
main.log.2014-11-17*

# Eclipse
**/*.project
**/*.classpath
**/*.settings

# Mac
.DS_Store

# Package Files #
*.war
*.ear
*.log

out
build
.gradle
gradle
gradle*

*.class